body {
  margin: 0px;
  background-color: #f9edfd;
}

nav {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9c4e0;
}

img {
  padding: 10px;
  height: 25px;
  width: 25px;
}

h2 {
  margin: 10px;
  text-align: center;
  font-size: xx-large;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

textarea {
  /* background-color: #fafafa; */
  margin: 10px;
  border: 2px solid black;
  resize: none;
}

#output {
  background-color: #fafafa;
  margin: 10px;
  border: 2px solid black;
}

textarea, #output {
  width:  550px;
  min-height: 400px;
}

.utils {
  display: flex;
  justify-content: center;
}

#clearButton {
  border: none;
  padding: 0.5rem;
  font-size: large;
  border-radius: 10px;
  background-color: #d9c4e0;
}

.welcome {
  text-align: center;
  padding: 10px;
  font-size: larger;
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
